:root {
    --footer--bg-color: hsl(233, 26%, 24%);
    --footer__nav-link--color: hsl(234, 20%, 90%);
    --footer__invite-link--bg-color: linear-gradient(
        10deg,
        rgba(44, 182, 216, 1) 0%,
        rgba(50, 210, 93, 1) 100%
    );
    --footer__copyright--color: hsl(233, 8%, 62%);
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--footer--bg-color);
    padding: 45px 150px;
}
.footer__left {
    display: flex;
    gap: 8.68vw;
}
.footer__left-wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.footer__logo-image {
    max-width: revert;
    width: max(10.625vw, 153px);
    height: auto;
}
.footer__social-list {
    display: flex;
    gap: 15px;
    list-style: none;
}
.footer-social-image {
    max-width: revert;
    width: max(1.389vw, 20px);
    height: auto;
    aspect-ratio: 1/1;
}
.footer__nav {
    display: flex;
    gap: 8.68vw;
}
.footer__nav-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.footer__nav-item {
    display: flex;
    list-style: none;
}
.footer__nav-link {
    font-size: max(0.875rem, 0.972222222vw);
    font-weight: 500;
    color: var(--footer__nav-link--color);
    text-decoration: none;
}
.footer__right {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footer__invite {
    display: flex;
    justify-content: end;
}
.footer__invite-link {
    display: inline-block;
    padding: clamp(15px, 0.95vw, 18px) clamp(35px, 2.0833vw, 40px);
    border-radius: 50px;
    font-size: max(0.875rem, 0.972222222vw);
    font-weight: 700;
    color: white;
    text-decoration: none;
    background: var(--footer__invite-link--bg-color);
}
.footer__invite-link:hover {
    transform: scale(1.05);
}
.footer__copyright {
    font-size: clamp(12px, 0.972222222vw,16px );
    color: var(--footer__copyright--color);
}

@media screen and (max-width: 1439px) {
    .footer {
        padding: 45px min(10.41667vw, 150px);
    }
}

@media screen and (max-width: 1000px) {
    .footer__nav-link {
        font-size: min(1.4vw, 0.875rem);
    }
    .footer__invite-link {
        padding: clamp(12px, 1.2vw, 15px) clamp(25px, 2.5vw, 35px);
        font-size: clamp(0.8125rem, 1.4vw, 0.875rem);
    }
}

@media screen and (max-width: 810px) {
    .footer {
        flex-direction: column;
        justify-content: stretch;
        gap: 30px;
        padding: 45px 18vw;
    }
    .footer__left {
        flex-direction: column;
        gap: 30px;
    }
    .footer__left-wrapper {
        align-items: center;
        gap: 30px;
    }
    .footer__nav {
        flex-direction: column;
        gap: 20px;
    }
    .footer__nav-list {
        align-items: center;
        gap: 20px;
    }
    .footer__nav-link {
        font-size: 18px;
    }
    .footer__right {
        align-items: center;
    }
}

@media screen and (max-width: 400px) {
    .footer {
        padding: 10vw;
    }
    .footer__nav-link {
        font-size: clamp(13px, 4.5vw, 18px);
    }
    .footer__invite-link {
        font-size: clamp(0.6875rem, 3.4vw, 0.8125rem);
    }
}
