:root {
    --header-bg-color: hsl(0, 100%, 100%);
    --header__nav-link--color: hsl(233, 8%, 62%);
    --header__invite-link--bg-color: linear-gradient(
        5deg,
        rgba(44, 182, 216, 1) 0%,
        rgba(50, 210, 93, 1) 70%
    );
    --header__nav-link--hover-underline-color: linear-gradient(
        90deg,
        rgba(44, 182, 216, 1) 0%,
        rgba(50, 210, 93, 1) 70%
    );
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px clamp(100px, 7.8125vw, 200px);
    background-color: var(--header-bg-color);
}
.header__logo-image {
    width: clamp(180px, 12.5vw, 250px);
}
.header__nav-list {
    display: flex;
    gap: clamp(35px, 2.6vw, 50px);
}
.header__nav-item {
    list-style: none;
}
.header__nav-link {
    font-size: clamp(16px, 1.111vw, 20px);
    font-weight: 500;
    color: var(--header__nav-link--color);
    text-decoration: none;
    position: relative;
}
.header__nav-link::after,
.header__nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 4px;
    background-image: var(--header__nav-link--hover-underline-color);
    transition-duration: 0.5s;
}
.header__nav-link::before {
    left: 50%;
}
.header__nav-link::after {
    right: 50%;
}
.header__nav-item:hover .header__nav-link::after,
.header__nav-item:hover .header__nav-link::before {
    width: 50%;
}
.header__right-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}
.header__invite-link {
    padding: clamp(15px, 0.95vw, 18px) clamp(35px, 2.0833vw, 40px);
    border-radius: 50px;
    font-size: clamp(1rem, 1.111vw, 1.125rem);
    font-weight: 700;
    color: white;
    text-decoration: none;
    background: var(--header__invite-link--bg-color);
}
.header__theme-button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: clamp(80px, 5.555vw, 100px);
    padding: 4px;
    border: none;
    border-radius: 50px;
    background-color: rgb(247, 216, 148);
    cursor: pointer;
}
.header__theme-circle {
    display: block;
    padding: 7px;
    border-radius: 50%;
    background-color: rgb(255, 174, 0);
}
.header__theme-icon {
    width: clamp(20px, 1.5vw, 30px);
}
.header__menu {
    display: none;
    align-items: center;
}
.header__menu:hover {
    scale: 1.1;
}
.header__menu-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.header__menu-icon {
    width: auto;
    height: 25px;
    aspect-ratio: 3/2;
}
.header__menu-icon line {
    transition: transform 0.4s ease, opacity 0.4s ease;
    transform-origin: center;
}
.header__menu-icon--cross line:nth-child(1) {
    transform: translateX(-12.5%) translateY(4.5px) rotate(45deg);
}

.header__menu-icon--cross line:nth-child(2) {
    opacity: 0;
}

.header__menu-icon--cross line:nth-child(3) {
    transform: translateX(-12.5%) translateY(-4.5px) rotate(-45deg);
}

@media screen and (max-width: 1439px) {
    .header {
        padding: 20px clamp(50px, 6.94444vw, 100px);
    }
    .header__logo-image {
        width: clamp(150px, 15vw, 180px);
    }
    .header__nav-link {
        font-size: clamp(0.875rem, 1.4vw, 1rem);
    }
    .header__right-wrapper {
        gap: clamp(10px, 1vw, 20px);
    }
    .header__invite-link {
        padding: clamp(12px, 1.2vw, 15px) clamp(25px, 2.5vw, 35px);
        font-size: clamp(0.875rem, 1.4vw, 1rem);
    }
    .header__theme-button {
        width: clamp(70px, 7vw, 80px);
    }
    .header__theme-icon {
        width: clamp(17px, 1.7vw, 21.585px);
    }
}

@media screen and (max-width: 1000px) {
    .header {
        padding: 20px clamp(50px, 6.173vw, 65px);
    }
    .header__nav-link {
        font-size: clamp(0.75rem, 1.48vw, 0.875rem);
    }
    .header__invite-link {
        padding: clamp(10px, 1.2345679vw, 12px) clamp(18px, 2.2345679vw, 25px);
        font-size: clamp(0.6875rem, 1.358vw, 0.875rem);
    }
    .header__theme-button {
        width: clamp(50px, 6.173vw, 70px);
        padding: clamp(3px, 0.37vw, 4px);
    }
    .header__theme-icon {
        width: clamp(12px, 1.5vw, 17px);
    }
    .header__theme-circle {
        padding: clamp(5px, 0.62vw, 7px);
    }
}

@media screen and (max-width: 809px) {
    .header {
        padding: 20px clamp(20px, 7.143vw, 60px);
    }
    .header__logo-image {
        width: clamp(120px, 42.85vw, 150px);
    }
    .header__nav {
        display: none;
    }
    .header__right-wrapper {
        gap: clamp(10px, 1.854vw, 15px);
    }
    .header__invite-link {
        display: none;
    }
    .header__menu {
        display: flex;
    }
}

@media screen and (max-width: 400px) {
    .header__theme-button {
        width: clamp(40px, 11.25vw, 50px);
        padding: clamp(2px, 0.714vw, 3px);
    }
    .header__theme-circle {
        padding: clamp(3px, 1.071vw, 5px);
    }
    .header__menu-icon {
        height: clamp(20px, 6.25vw, 25px);
    }
}
